include README.md LICENSE CHANGELOG.md
recursive-include src *.py py.typed
recursive-include tests *.py
exclude .gitignore Dockerfile* docker-compose*.yml Makefile
prune build dist .tox .pytest_cache __pycache__
